<div class="header">
  <div class="header-container">

    <div class="logo">
      <img src="assets/images/1.jpg" alt="Logo" />
      <span class="app-name">ЛОГО</span>
    </div>

    <!--desktop -->
    <div *ngIf="!isMobile" class="searchbar-wrapper">
      <mat-form-field class="searchbar">
        <input matInput placeholder="Пошук" [(ngModel)]="searchQuery" (keyup.enter)="executeSearch()" />
        <button mat-icon-button matSuffix (click)="executeSearch()">
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </div>

    <!-- mobile -->
    <div class="header-actions">
      <ng-container *ngIf="isMobile">
        <button (click)="onToggleSidebar()" class="menu-toggle">
          <mat-icon>menu</mat-icon>
          {{ isSidebarOpen ? 'Close' : 'Categories' }}
        </button>
      </ng-container>
    </div>
      <a *ngIf="!isMobile" [routerLink]="['/create']"> CREATE NEW</a> 
  </div>
</div>  