.table-of-contents {
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 8px;
  border: rgb(0, 0, 0) 1px solid;

  h3 {
    margin-top: 0;
    font-size: 1.2rem;
    margin-bottom: 10px;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  li {
    margin-bottom: 8px;
  }

  a {
    color: #333;
    text-decoration: none;
    display: block;
    padding: 5px;
    border-radius: 4px;
    font-size: 0.75rem;

    &:hover {
      background-color: #eee;
    }

    &.active {
      background-color: #e0e0e0;
      font-weight: bold;
      
    }
  }
}