<div>{{isMobile}}</div>
<div>isSidebarOpen-{{isSidebarOpen}}</div>
<div class="app-container" [class.mobile]="isMobile">
  <app-header [isMobile]="isMobile" [isSidebarOpen]="isSidebarOpen" (toggleSidebar)="toggleSidebar()"></app-header>


  <div class="main-container">
    <app-left-sidebar *ngIf="!isMobile"></app-left-sidebar>

    <main class="main-content">
      <router-outlet></router-outlet>
    </main>

    <app-right-sidebar *ngIf="!isMobile"></app-right-sidebar>
  </div>

  <app-mobile-sidebar *ngIf="isMobile" [isMobile]="isMobile" [isSidebarOpen]="isSidebarOpen"
    (sidebarToggle)="toggleSidebar()"></app-mobile-sidebar>

  <app-footer></app-footer>
</div>