.summary-container {
  display: flex;
  margin-bottom: 30px;
  border: rgb(0, 0, 0) 1px solid;
  margin: 5px 0 0 0;
}

.summary-main {
  flex: 1;
  padding: 15px;
  border-radius: 8px;
  background: #f9f9f9;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.summary-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.rating-block {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  border-radius: 50%;
  margin-right: 10px;
  font-size: 1.2em;
}

 
.summary-title {
  font-size: 1.2em;
  margin: 0;
  color: #333;
}

.summary-side-item {
  display: flex;
  flex-direction: column;
}

.summary-side-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.summary-header {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  border-radius: 8px;
  transition: background 0.3s;
}

.summary-header.active {
  background: #e3e3e3;
}