.sidenav-container {
  height: 100%;
  z-index: 5;
}

.mobile-menu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  transition: transform 0.3s ease-out;
  transform: translateX(100%);


  &.open {
    transform: translateX(0);
  }
}

.curtain-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
  padding: 1rem;
  border-bottom: 1px solid #e9ecef;
}

.curtain-header h2 {
  margin: 0;
}

.menu-content {
  padding: 0 1rem;
  flex: 1;
  overflow-y: auto;
}

.search-bar {
  width: 100%;
  margin-bottom: 1rem;


}

.category-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.category-list li {
  padding: 1rem;
  border-bottom: 1px solid #e9ecef;
  font-size: 1.1rem;
  cursor: pointer;
}

.category-list li:hover {
  background-color: #f8f9fa;
}

.close-button {
  background: none;
  border: none;
  cursor: pointer;
}